@import "../../less/variables";
@import "../../less/mixins";



.reasons-list__header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 10% 55px 10%;
  min-height: 255px;
  text-align: center;
  background-color: @white;
  overflow: hidden;
  .reset-text-margins;

  h2 {
    font-size: @font-size-m;
    line-height: @line-height-l;
  }

  p {
    font-size: @font-size-s;
    line-height: @line-height-l;
  }
}



.main-container__footer {
  &:extend(.reasons-list__header all);
  padding-top: 25px;
  padding-bottom: 25px;
  min-height: 180px;

  h2 {
    font-size: @font-size-l;
  }
}