@import "../../less/variables";



.input-number {
  position: relative;

  input[type="number"] {
    position: relative;
    display: inline-block;
    padding: 0 30px;
    width: 100%;
    box-sizing: border-box;
    font-size: @font-size-s;
    line-height: 40px;
    height: 40px;
    font-weight: bold;
    text-align: center;
    border: none;
    outline: none;
    background-color: @lite-gray;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  }
}



.input-number__inner-btn {
  .input-number-btn("../components/input-number/input-number__images/icon-plus.svg", @right: 0);
}



.input-number__outer-btn {
  .input-number-btn("../components/input-number/input-number__images/icon-minus.svg", @left: 0);
}



.input-number-btn(@url, @left: auto, @right: auto) {
  position: absolute;
  z-index: 10;
  top: 0;
  left: @left;
  right: @right;
  padding: 0;
  width: 30px;
  height: 40px;
  border: none;
  outline: none;
  background: @lite-gray url(@url) no-repeat center center;
  background-size: 16px auto;
  cursor: pointer;
  opacity: 0.3;
}



