@import "../../less/variables";



.btn {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: @white;
  font-size: @font-size-l;
  line-height: 60px;
  text-align: center;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  background-color: @blue;
  border: none;
  outline: none;
}