@import "../../../less/variables";
@import "../../../less/mixins";



.reasons-list__item {
  @media (min-width: 640px) {
    display: flex;
    flex-direction: row;
    flex-basis: 213px;
    flex-grow: 1;
  }

  &_border_bottom {
    .reasons-list__text-wrap {
      &::after {
        position: absolute;
        bottom: 0;
        left: 6%;
        width: 88%;
        height: 1px;
        background-color: @dark-gray;
        content: "";

        @media (min-width: 640px) {
          display: none;
        }
      }
    }
  }

  &_theme_grey {

    .reasons-list__text-wrap {
      position: relative;
      background-color: @gray;
      color: @black;

      .reasons-list__number {
        span {
          background-color: @gray;
        }

        &::before {
          background-color: @black;
        }
      }
    }

  }
}



.reasons-list__item_reverse {
  @media (min-width: 640px) {
    flex-direction: row-reverse;
  }
}



.reasons-list__text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 195px;
  padding: 40px 10%;
  color: @white;
  text-align: center;
  background-color: @blue;
  .reset-text-margins;

  @media (min-width: 640px) {
    flex-basis: 213px;
    flex-grow: 1;
    height: 256px;
    padding: 40px 5%;
  }

  .reasons-list__number {
    position: relative;
    min-width: 50px;

    span {
      position: relative;
      padding: 0 5px;
      font-size: @font-size-s;
      line-height: @line-height-s;
      background-color: @blue;
    }

    &::before {
      position: absolute;
      top: 10px;
      left: -2px;
      right: 0;
      height: 1px;
      background-color: @white;
      content: "";
    }

  }

}