@import "../../less/variables";
@import "../../less/mixins";


.decor-footer-block {
  position: absolute;
  left: ~"calc((100% - 1200px) / 2)";
  bottom: 0;
  height: 60px;
  .svg-mix-in();

  &_color_blue {
    .svg-mix-in(@blue);

    @media (min-width: 640px) {
      display: none;
    }
  }
}