@import "variables";
@import "mixins";
@import "../css/normalize.css";
@import "@{url}main-header/main-header";
@import "@{url}mobile-nav/mobile-nav";
@import "@{url}main-nav/main-nav";
@import "@{url}decor-footer-block/decor-footer-block";
@import "@{url}reasons-list/reasons-list";
@import "@{url}reasons-list/__item/reasons-list__item";
@import "@{url}reasons-list/__image-wrap/reasons-list__image-wrap";
@import "@{url}features-list/features-list";
@import "@{url}hotel-search/hotel-search";
@import "@{url}input-date/input-date";
@import "@{url}input-number/input-number";
@import "@{url}btn/btn";


*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 14px;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 260px;
  max-width: 1200px;

  color: @black;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}
