@import "../../less/variables";



.hotel-search__form-wrap {
  min-height: 520px;
  background-color: @white;

  @media (min-width: 640px) {
    position: absolute;
    top: -85px;
    left: ~'calc((100% - 570px)/2)';
    width: 570px;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15);
    min-height: 0;
  }
}



.hotel-search__title {
  display: flex;
  min-height: 85px;
  color: @white;
  background-color: @brown;

  h2 {
    margin: auto;
    font-size: @font-size-m;
    line-height: @line-height-l;
  }
}



.hotel-search__form {
  padding: 25px 20px;
  padding-bottom: 0;
  font-weight: bold;
  font-size: 0;

  @media (min-width: 640px) {
    padding: 45px;
    padding-bottom: 0;
  }

  .full-width {
    display: inline-block;
    width: 100%;

    @media (min-width: 640px) {
      width: 75%;
    }
  }

  .half-width {
    display: inline-block;
    width: 40%;
    &:first-of-type {
      margin-right: 20%;
    }

    @media (min-width: 640px) {
      width: 47.5%;
      &:first-of-type {
        margin-right: 5%;
      }



      &:last-child {
        text-align: center;
      }
    }
  }

  label {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: @font-size-s;

    @media (min-width: 640px) {
      margin: 0;
      width: 25%;
    }
  }

  .input-label {
    width: 52.6%;
  }

  input[type="date"] {
    margin-bottom: 25px;
  }

  .input-number {
    @media (min-width: 640px) {
      display: inline-block;
      width: 47.4%;
    }
  }

  .hotel-search__btn {
    width: 100%;
    margin: 45px 0;
  }
}







