@import "../../less/variables";



.footer-wrap {
  position: relative;

  @media (min-width: 640px) {
    display: flex;
    align-items: flex-end;
    min-height: 575px;
    background: @gray url("/src/components/main-footer/main-footer__images/bg-map-big.png") no-repeat center;
  }
}



.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-basis: 100%;
  min-height: 590px;
  background: url("/src/components/main-footer/main-footer__images/bg-map.jpg") no-repeat center center;
  background-size: auto 590px;
  box-shadow: 0 12px 15px -10px rgba(0, 0, 0, 0.15) inset;

  @media (min-width: 640px) {
    background: none;
    box-shadow: none;
    min-height: 0;
  }
}



.main-footer__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 155px;
  background-color: rgba(255, 255, 255, 0.85);

  p {
    margin: 0;
    font-size: @font-size-l;
    font-weight: bold;
    line-height: @line-height-l;
  }
}



.main-footer__social-wrap {
  font-size: 0;

  .btn:not(:last-child) {
    margin-right: 7px;
  }
}