.main-header__logo {
  position: absolute;
  top: 0;
  left: ~"calc((100% - 137px)/2)";
  display: block;
  width: 137px;
  height: 70px;

  background: url("/src/components/main-header/main-header__logo-sedona.png") no-repeat center center;
}

.main-header__welcome-wrap {
  min-height: 390px;

  background-color: #113355;
}